$primary-button: linear-gradient(to left, #74976b, #647B64);
$title-black:#1E1E1E;
$color-primary: #647B64;
$title-secondary: #F3B562;
$text-secondary: #FEFEFE;
$footer: #F0DCC5;
$section-6-bg:linear-gradient(358.27deg, rgba(100, 123, 100, 0.77) -118.86%, rgba(100, 123, 100, 0) 25.62%, rgba(100, 123, 100, 0) 98.53%);
