
@use 'get-started-buttons';
@use 'titles';
@use 'font';
@use 'colors' as c;
@use 'responsive' as r;

*,::before, *::after {
    box-sizing: border-box;
    
}
body{
    margin: 0%;
    .navigation{
        display: flex;
        margin-top: 50px;
        max-width: 1160px;
        margin-bottom: 140px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 20px;
        padding-right: 20px;
        .left{
            width: 50%;
            display: flex;
            gap: 12px;
            img{
                align-items: center;
                width: 20%;
                
            }
        }
        .right{
            width: 50%;
            display: flex;
            gap: 48px;
            justify-content: end;
            align-items: center;
            div{
                
            
                a{
                    text-decoration: none;
                    color: c.$title-black
                }
            }
            .highlighted{
                
                a{
                    color: c.$text-secondary;
                    padding: 10px 15px;
                    background: c.$primary-button; 
                    border-radius: 3px;
                }
            }
            @include r.lg{
                gap: 20px;
            }
            @include r.md{
                display: none;
            }
        }

        .hamburger{
            display: none;

            @include r.md{
                display: flex;
                justify-content: end;
                width: 50%;

            }
        }
    }
    .cta-wrapper{
        background-image: url(images/cta-corner-bg.png);
        background-position: 0px 400px;
        background-repeat: no-repeat;
        .cta{
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 1060px;
            margin-bottom: 120px;
            margin-left: auto;
            margin-right: auto;
            background-image: url(images/cta-text-bg.png);
            background-position: 325px 264px;
            background-repeat: no-repeat;
            padding-left: 20px;
            padding-right: 20px;

            
            .cta-text{
                width: 40%;
                
                @include r.lg{
                    width: 60%;
                }
                @include r.md{
                    width: 80%;
                    z-index: 100;
                    color: c.$title-black;
                }
            }
            .cta-image{
                width: 60%;
                display: flex;
                justify-content: end;
                

                @include r.lg{
                    width: 40%;
                }
                @include r.md{
                    width: 20%;
                    z-index: 50;
                    
                }
                
                


            }
        }
    }

    .section-3{
        display: flex;
        gap: 10%;
        max-width: 1160px;
        margin-bottom: 130px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 20px;
        padding-right: 20px;
        .description{
            width: 45%;
            display: flex;
            flex-direction: column;
            @include r.lg{
                width: 100%;
            }
        }
        .travel-options{
            display: flex;
            flex-wrap: wrap;
            width: 55%;
            .option{
                width: 40%;
                padding: 40px 30px 44px 40px;
                .image-green{
                    img{
                        background-color: c.$color-primary;
                    }
                }
                img{
                    padding: 10px;
                    border-radius: 8px;
                }
                @include r.sxl{
                    width: 50%;
                }
                @include r.lg{
                    width: 40%;
                }
                @include r.md{
                    width: 50%;
                    padding: 30px 20px 34px 30px;
                }
            }
            @include r.lg{
                width: 100%;
                
            }
        }
        @include r.lg{
            flex-direction: column;
            gap: 50px;
        }
    }

    .section-4{
        display: flex;
        flex-direction: column;
        max-width: 1160px;
        margin-bottom: 120px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 20px;
        padding-right: 20px;
        .titles{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }
        .elements-wrapper{
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            @include r.lg{
                
            }
            .element{
                width: 30%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 78px 50px 72px 50px;
                
                img{
                    width: 64px;
                    height: 64px;
                }
                @include r.lg{
                    width: 80%;
                }
            }
            .element-green{
                width: 30%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 78px 50px 72px 50px;
                background-color: c.$color-primary;
                color: c.$text-secondary;
                border-radius: 10px;
                img{
                    width: 64px;
                    height: 64px;
                }
                @include r.lg{
                    width: 80%;
                    
                }
            }
        }

    }

    .section-5{
        display: flex;
        gap: 100px;
        
        max-width: 1160px;
        margin-bottom: 140px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 20px;
        padding-right: 20px;
        @include r.lg{
            flex-direction: column;
            gap: 50px;
            
        }

        .image{
            width: 50%;
            @include r.lg{
                width: 80%;
            }
            @include r.md{
                overflow: hidden;
            }
        }
        .text{
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            @include r.lg{
                width: 80%;
            }
            
        }
    }

    .section-6{
        display: flex;
        flex-direction: column;
        max-width: 1160px;
        margin-bottom: 170px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 20px;
        padding-right: 20px;
        .titles{

        }
        .group-wrapper{
            display: flex;
            gap: 40px;

            @include r.lg{
                flex-direction: column;
                gap: 20px;
            }

            .element-wrapper{
                display: flex;
                flex-direction: column;
                width: 30%;
                background: c.$section-6-bg;
                border-radius: 8px;
                padding: 32px;
  

                @include r.lg{
                    width: 100%;
                }
            }
            
                .person-wrapper{
                    
                    display: flex;
                    
                    
                    .image-wrapper{
                        width: 50%;
                    }
                        
                    
                    
                    .name-wrapper{
                        display: flex;
                        flex-direction: column;
                        width: 50%;
                        .bold{
                            color: c.$title-black;
                        }
                    }
                }
                .p-description{
                    width: 80%;
                }
        }

    }
    .footer-container{
        background-color: c.$footer;
        width: 100%;
        .footer{
            display: flex;
            max-width: 1160px;
            margin: auto;
            justify-content: space-around;
            padding-top: 100px;
            padding-bottom: 100px;
            padding-left: 20px;
            padding-right: 20px;
            @include r.lg{
                flex-wrap: wrap;
                justify-content: start;
                gap: 40px;
            }
            @include r.md{
                width: 100%;
                flex-direction: column;
            }
            .footer-1{
                display: flex;
                flex-direction: column;
                gap: 12px;
                width: 20%;
                .element-logo{
                    display: flex;
                    gap: 12px;
                    img{
                        width: 30%;
                        @include r.md{
                            width: 20%;
                            
                        }
                    }
                }
                .element-social{
                    display: flex;
                    gap: 16px;
                    margin-top: 8px;
                }
                @include r.lg{
                    width: 30%;
                }
                @include r.md{
                    width: 70%;
                    
                }
            }
        

            .footer-2{
                display: flex;
                width: 40%;
                justify-content: space-around;
                @include r.md{
                    width: 70%;
                    justify-content: space-between;
                }
                .column{
                    display: flex;
                    flex-direction: column;
                    gap:12px ;
                    .element-green{
                        margin-bottom: 12px;
                        color: c.$color-primary;
                    }
                }
                
            }

            .footer-3{
                display: flex;
                flex-direction: column;
                @include r.lg{
                    width: 100%;
                }
                h3{
                    margin-top: 0%;
                    margin-bottom: 13px;
                    color: c.$color-primary;
                }

                    textarea{
                        margin-bottom: 28px;
                        padding: 12px 24px;
                        width: 283px;
                        height: 113px;
                        border: none;
                        border-radius: 5px;
                        resize: none;
                        @include r.lg{
                            width: 100%;
                        }
                    }
                
                button{
                    background: c.$primary-button;
                    padding: 22px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    color: c.$text-secondary;
                    border: none;
                }
            }
        }
    }
}